:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --grey3: #ccc;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
  --blue: rgb(56, 10, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color: var(--black);
}
@charset "utf-8";
/*-------------------------------about section css----------------------------*/
.aboutus .col-1{
	width: auto;
	height: auto;
	background-color: white;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
	border:2px solid transparent ;
	font-family: "Times New Roman",Times,serif;
	font-size: 20px;
}
#p1::first-letter{
	color: royalblue;
	font-size:100px;
}
/*our service-section*/
.col-2{
	margin: 25px;
	padding: 15px;
	width: auto;
	height: auto;
	text-align: center;
	font-family: "Times New Roman",Times,serif;
	font-size: 20px;
}
/*service-section*/
.service-box{
	padding: 10px;
	align-items: center;
	cursor: pointer;
	
}
.service-icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
	margin-top: 16px;
	border-radius: 50px;
	border:3px solid blue;
}
.service-icon i{
	line-height: 70px;
	font-size: 26px;
}
.service-box:hover .service-icon{
	background: blue;
	color: #ddd;
}
.service-title{
	font-style: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}
.service-desc{
	font-size: 14px;
}
/* For screens smaller than 768px (typical smartphones) */
@media only screen and (max-width: 768px) {
  /* Adjust font sizes */
  body {
    font-size: 14px;
  }

  /* Modify header styles */
  nav .wrapper {
    padding: 10px;
  }
  .logo h1 {
    font-size: 24px;
  }
  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #333;
    z-index: 1000;
    transition: 0.5s;
  }
  .nav-links.active {
    left: 0;
  }
  /* Add styles for the rest of your elements */
}

/* For screens smaller than 480px (smaller smartphones) */
@media only screen and (max-width: 480px) {
  /* Adjust font sizes further */
  body {
    font-size: 12px;
  }
  .logo h1 {
    font-size: 20px;
  }
  /* Modify other styles as needed */
}

